<h1 id="section"> </h1>
<table>
<tbody>
<tr class="odd">
<td><em>6yo–8yo:</em><br />
</td>
<td><em>8yo–10yo:</em><br />
</td>
<td><em>10yo–12yo:</em><br />
</td>
<td><em>12yo–14yo:</em><br />
</td>
<td><em>14yo–16yo:</em><br />
</td>
<td><em>16yo–19yo:</em><br />
</td>
</tr>
<tr class="even">
<td><em>Answer Type:</em> ( keep order of multiple-choice/-select)</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr class="odd">
<td><em>Categories (click to choose):</em><br />
algorithms and programming<br />
data structures and representations</td>
<td> computer processes and hardware<br />
communication and networking<br />
interactions, systems and society</td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
</tbody>
</table>
<h2 id="body">Body</h2>
<p>EDIT HERE (delete this): insert the task text and images here.</p>
<h2 id="question-challenge">Question / Challenge</h2>
<p>EDIT HERE (delete this): <em>f</em>ormulate the question (in case of
multiple-choice or open-answer task) or challenge (or instruction; in
case of a constructive task) here.</p>
<h2 id="answer-options-interactivity-description">Answer Options /
Interactivity Description</h2>
<p>EDIT HERE (delete this): for multiple-choice tasks: formulate the
answer choices here. Please explain and motivate your choice of wrong
answers in the comment section. // For open-answer tasks: formulate the
range of answers here that an implementation of a task should accept.
(Examples: Integer numbers from [0, 99]; strings of 4 capital letters; …
). // For interactive tasks: describe the interactivity here.</p>
<h2 id="answer-explanation">Answer Explanation</h2>
<p>EDIT HERE (delete this): explain which is the correct answer and why.
For multiple-choice tasks, also explain why the other answer choices are
wrong. // This must be understandable for the target age group. Use
about 2 to 5 sentences for the correct answer, and somewhat less for the
wrong answers. Focus narrowly on the task, do not explain yet what this
has to do with informatics or computational thinking.</p>
<h2 id="this-is-informatics">This is Informatics</h2>
<p>EDIT HERE (delete this): explain to the target age group, why this
task is about informatics: What are the informatics concepts, what is
the informatics “story” behind this task? Use about 3 to 8 sentences. Do
not explain the correct answers of the task, but give a larger picture.
You may, however, relate your explanation to the “Answer Explanation”
section.</p>
<h2 id="this-is-computational-thinking">This is Computational
Thinking</h2>
<p>EDIT HERE (delete this): explain which computational thinking
competencies are necessary to solve this task. Use about 3 to 8
sentences. Do not explain the correct answers of the task, also do not
explain the computer science behind the task. You may, however, relate
your explanation to the “Answer Explanation” section and the “This is
Informatics” section.</p>
<h2 id="informatics-keywords-and-websites">Informatics Keywords and
Websites</h2>
<p>EDIT HERE (delete this): give some keywords, useful to find further
information on the web. The target are the teachers and interested
students. // Indicate websites (in English and other languages) which
offer further information on the particular domain of informatics
mentioned in the “This is Informatics” section. Wikipedia is often a
good start.</p>
<h2 id="computational-thinking-keywords-and-websites">Computational
Thinking Keywords and Websites</h2>
<p>EDIT HERE (delete this): give some keywords, useful to find further
information on the web. The target are the teachers and interested
students. // Indicate websites (in English and other languages) which
offer further information on the particular domain of computational
thinking mentioned in the “This is Computational Thinking” section.</p>
<h2 id="wording-and-phrases">Wording and Phrases</h2>
<p>EDIT HERE (delete this): list of words and phrases used to name
important things mentioned in the task body (actors,
activities/processes, concepts, definitions, objects, names, etc.) This
is to ensure the consequent use of terminology in the task body and to
facilitate translation.</p>
<h2 id="comments">Comments</h2>
<p>EDIT ABOVE (keep this template and add above this line): author,
e-mail, date (YYYY-MM-DD): <em>Comment, including documentation of and
reasons for changes, and precautions to take when further developing
this task. Especially mention if this task is based upon or directly
connected to another task (even from the past).</em></p>
<h2 id="graphics-and-other-files">Graphics and Other Files</h2>
<p><em></em> This file.</p>
<p>EDIT ABOVE (keep this template and add above this line): filename,
author, source/self-made, license</p>
<p>Please indicate: </p>
<ul>
<li>Source of each image or of each other file to produce the task
image(s):<br />
(URL and/or author)</li>
<li>License for each image.</li>
</ul>
<p>Note: If the source of an image is unclear, it might be copyrighted
and cannot be used in the task.</p>
<h2 id="authors-contributors-and-editors-incl.-graphics">Authors,
Contributors, and Editors (incl. Graphics)</h2>
<p>EDIT ABOVE (keep this template and add above this line): author /
contributor / editor, e-mail, country.</p>
<h2 id="license">License</h2>
<p><img src="Pictures/1000404E00000C67000004575D83E7C7.svg"
style="width:2.159cm;height:0.737cm" />Copyright © Bebras –
International Challenge on Informatics and Computational Thinking. This
work is licensed under a Creative Commons Attribution-ShareAlike 4.0
International License. <a
href="https://creativecommons.org/licenses/by-sa/4.0/">https://creativecommons.org/licenses/by-sa/4.0/</a>.</p>
